<header>
  <nav class="header-nav">
    <a class="header-title" href="/" id="name">Docial
    </a>
    <ul>
      <li><a href="/authors">List</a></li>
      <li><a href="/authors/new">Add List</a></li>
      <li><a href="/books/new">Add Master</a></li>
       <li><a href="/books">Search</a></li>
    </ul>
  </nav>
</header>